<!DOCTYPE html>
<link rel="stylesheet" href="../static/css/styles.css">
<html>
    <head>
        <h1>Natalia Baranova</h1>
    </head>
    <body>
        <div class="skills">
            <h2>Skills</h2>
            <blockquote>
                <p>Foreign languages: English, level – C1.</p>
                <p>Computer skills:</p>
                <p>
                    <ul>
                        <li>basic Python programming skills;</li>
                        <li>familiarity with machine learning concepts and methods, including principal component analysis, logistic regression, K-NN and Naive Bayes;</li>
                        <li>experience writing SQL queries to extract, manipulate and analyze data from relational databases;</li>
                        <li>basic skills in Linux administration, including system configuration (firewall, iptables), user management and file system navigation;</li>
                        <li>ability to create information models using various notations, demonstrating skills in visualization and presentation of complex systems and data structures.</li>
                    </ul>
                </p>
            </blockquote>
        </div>
        <div class="experience">
            <h2>Experience</h2>
            <blockquote>
                <p class="dates">AUGUST 2021 – AUGUST 2023</p>
                <p>Software engineer (system administrator), LLC "Neftepromavtomatika", Ufa</p>
                <p>Worked in system administration. Among the responsibilities:</p>
                <p>
                    <ul>
                        <li>technical support for users;</li>
                        <li>configuration, setup and administration of personal computers and office equipment;</li>
                        <li>installation, configuration, updating of Windows OS and other software;</li>
                        <li>ensuring the protection of corporate information, organizing anti-virus protection and backup;</li>
                        <li>consulting and training of users;</li>
                        <li>purchase, minor repairs and accounting of consumables, components and equipment;</li>
                        <li>organization and maintenance of EDS (electronic digital signatures);</li>
                        <li>setting up a workplace for working with digital signatures for trading platforms, government portals and electronic document management systems.</li>
                    </ul>
                </p>
            </blockquote>
        </div>
        <div class="education">
            <h2>Education</h2>
            <blockquote>
                <p class="dates">2018 – 2022</p>
                <p>Bachelor's degree, USATU (Ufa State Aviation Technical University), Ufa</p>
                <p>Received a bachelor's degree with honors in the field of study 03.09.03 Applied Informatics at the Faculty of Informatics and Robotics. She successfully defended her thesis in English, with an average academic score of 4.75.</p>
                <br>
                <p class="dates">2023 – 2025</p>
                <p>Master's degree, ITMO University (Saint-Petersburg National Research University of Information Technologies, Mechanics and Optics), St. Petersburg</p>
                <p>Currently studying the program in the direction of training 10.04.01 Information Security in English. Training takes place on a budget basis.</p>
            </blockquote>
        </div>
    </body>
</html>